.container {
    border-radius: 25px;
    background: #ffffff;
    margin-left: 20px;
	margin-bottom: 20px;
}

.CreateProfileContainer {
    border-radius: 25px;
    background: #ffffff;
    margin-left: 20px;
	margin-bottom: 20px;
}

.search {
    border-radius: 25px;
    background: #ffffe6;
    padding: 20px; 
}

.row {
	//height: 20px;
	margin: 20px;
	clear: both;
}

.name {
    color: #2471A3; 
	font-family: 'Source Sans Pro', sans-serif; 
	font-size: 18px; 
	clear: both; 
	float: left; 
	padding: 4px 4px;
	width: 200px;
}

.paper {
    background-color: #EBF5FB; 	
	//clear: both; 
	float: left; 
	padding: 10px;
	margin: 10px;
	width: 240px;
}

.heading {
    color: #2471A3; 
	font-family: 'Source Sans Pro', sans-serif; 
	font-size: 18px; 
	clear: both; 
	//float: left; 
	padding: 10px;
	margin: 10px;
}

.label {
    color: #4c4a37; 
	font-family: 'Source Sans Pro', sans-serif; 
	font-size: 18px; 
	clear: both; 
	float: left; 
	padding: 4px 4px;
	width: 200px;
}

.dropdown {
    padding: 15px 30px;
    text-align: left;
    text-decoration: none;
    font-size: 16px;
	//float: left;
	width: 100%;
	padding: 4px 4px;
}

.radioClass {
	margin: 4px;
}

.ui.card {
	margin: 20px;
	padding: 20px;
	float: left;
}

.card {
	margin: 20px;
	padding: 20px;
	float: left;
	width: 240px;
}

.fieldTitle {
	color: #4c4a37; font-family: 'Source Sans Pro', sans-serif; font-size: 18px; font-weight: bold; height: 25px;  
	float: left; clear: both; width: 70px;
}

.fieldValue {
	color: #4c4a37; font-family: 'Source Sans Pro', sans-serif; font-size: 18px; height: 25px; float: left; 
}

.fieldTitleExtra {
	color: #4c4a37; font-family: 'Source Sans Pro', sans-serif; font-size: 10px; font-weight: bold;
}

.fieldValueExtra {
	color: #4c4a37; font-family: 'Source Sans Pro', sans-serif; font-size: 10px; 
}

.jumbotron {
	color: #2471A3; 
	font-family: 'Source Sans Pro', sans-serif; 
	font-size: 22px; 
	clear: both; 
	float: left; 
	padding: 4px 4px;
	height: 40px;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}